server:
  port: 8080   # Gateway will run on port 8080

spring:
  application:
    name: api-gateway

  main:
    web-application-type: reactive   # Force reactive mode

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/**

        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
#
#        - id: authentication-service
#          uri: lb://authentication-service
#          predicates:
#            - Path=/api/auth/**

      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost

