server:
  address: 0.0.0.0
  port: 8080   # Gateway will run on port 8080

spring:
  application:
    name: api-gateway

  main:
    web-application-type: reactive   # Force reactive mode

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/** , /api/admin/user/**

        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/** , /api/connection/**

        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/product/** , /api/admin/product/**

      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost

