server:
  port: 8086

spring:
  application:
    name: order-service
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: order-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.value.default.type: com.candlekart.order_service.dto.CartResponse
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false

  datasource:
    url: jdbc:postgresql://localhost:5432/candle_kart
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # options: none, validate, update, create, create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always   # runs schema/data scripts at startup